{% extends 'items/base.html' %}

{% block content %}

    <h1>商品マスタ管理</h1>
    <a href="{% url 'home:home' %}">トップ</a>
    ＞商品マスタ管理

    <div class="item-master">
    <table border="1">
        <tr>
            <th>ID</th>
            <th>名称</th>
            <th>単価</th>
            <th>登録日時</th>
            <th>更新日時</th>
            <th></th>
            <th></th>
        </tr>
        {% for item in items %}
        <tr>
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.price}}</td>
            <td>{{item.created_at}}</td>
            <td>{{item.updated_at}}</td>
            <td><button><a href="{% url 'items:item_master_edit' item_id=item.id%}">編集</a></button></td>
            <td>
                <form method = "post" action="{% url 'items:item_master_delete' item_id=item.id%}">{% csrf_token %}
                <button type="submit" onclick='return confirm("本当に削除しますか")'>削除</button>
            </form>
            </td>
        </tr>
        {% endfor %}
        
</table>
    
    </div>


    <button><a href="{% url 'items:item_master_new' %}">新規追加</a></button>
    
{% endblock %}