
{% extends 'base.html' %}

{% block  content %}

<h1>販売情報管理</h1>
<a href="{% url 'home:home' %}">トップ</a>
＞<a href="{% url 'sales:master' %}">販売情報管理</a>
＞販売情報編集

<div>
    <form action="{% url 'sales:master_edit' sale.id %}" method="POST">{% csrf_token %} 
        <table>
        <tr>
            <th>商品名</th>
            <td>{{ form.item }}</td>
        </tr>
        <tr>
            <th>個数</th>
            <td>{{ form.num }}</td>
        </tr>
        <tr>
            <th>売上</th>
            <td>{{ form.profit }}</td>
        </tr>
        <tr>
            <th>日時</th>
            <td>{{ form.created_at }}</td>
        </tr>
    </table>
        <button class="btn" type="submit">保存</button>
    </form>
</div>

{% endblock  %}
