header h1 {
    background-color: black;
    color: white;
}

a {
    text-decoration: none;
}

.master_table {
    border-collapse: collapse;
}

.master_table th,
.master_table td {
    border: solid 1px;
    margin: 10px;
    padding: 10px;
}